
#sidebar {
  -fx-background-color: #f0e8e8;
  -fx-spacing: 6;
}

#main {
  -fx-background-color: white;
}

.root {
  -fx-focus-color: #3a97fb;
}

.sidebar-headline {
  -fx-font-family: "Arial";
  -fx-text-fill: #b4b4b4;
  -fx-font-size: 12;
  -fx-font-weight: bold;
}

.sidebar-textfield {
  -fx-background-color: #e2dcdd;
  -fx-background-radius: 6 6 6 6;
}

.sidebar-textfield-focus {
  -fx-highlight-fill: -fx-accent;
  -fx-background-color:
        -fx-focus-color,
        #e2dcdd,
        -fx-faint-focus-color,
       #e2dcdd;
  -fx-background-insets: -0.2, 1, -1.4, 3;
  -fx-background-radius: 6 6 6 6;
}

.sidebar-textfield-inner {
  -fx-background-color: transparent;
}

.main-textfield {
  -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
  -fx-background-insets: 0, 1;
  -fx-background-radius: 6 6 6 6;
}

.main-textfield-focus {
  -fx-highlight-fill: -fx-accent;
  -fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
  -fx-background-insets: -0.2, 1, -1.4, 3;
  -fx-background-radius: 6 6 6 6;
}

.main-textfield-inner {
  -fx-background-color: transparent;
}

.noheader .column-header-background {
  -fx-max-height: 0;
  -fx-min-height: 0;
  -fx-pref-height: 0;
}

#sidebar .check-box:focused > .box {
  -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
  -fx-background-radius: 3px, 3px, 2px, 1px;
}

#sidebar .check-box:selected > .box {
  -fx-background-color: transparent, -fx-outer-border, -fx-focus-color;
}
#sidebar .check-box:selected > .box > .mark {
  -fx-background-color: #ffffff;
}

#main .table-view:focused {
  -fx-background-color: transparent, -fx-box-border, -fx-control-inner-background;
  -fx-background-insets: -1.4, 0, 1;
  -fx-background-radius: 1.4, 0, 0;
  -fx-padding: 1;
}

#main .table-view .column-header,
#main .table-view .column-header .filler,
#main .table-view .column-header-background .filler {
    -fx-background-color: -fx-inner-border, #ffffff;
}

.column-bold {
  -fx-font-family: "Arial";
  -fx-font-weight: bold;
}

.column-right {
  -fx-alignment: CENTER-RIGHT;
}

.column-sum {
  -fx-font-family: "Arial";
}

.column-sum-right {
  -fx-font-family: "Arial";
  -fx-alignment: CENTER-RIGHT;
}

.head-menu-item {
  -fx-text-fill: -fx-selection-bar-text;
  -fx-background-color: -fx-body-color;
  -fx-padding: 4px;
  -fx-font-size: 1.083333em;
  -fx-font-weight: bold;
}